.bookCard {
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.bookTitle {
margin-left: 3%;
}

.bookTitle > h2 {
margin: 0;
}